{
  "printWidth": 120,
  "singleQuote": true,
  "endOfLine":"auto",
  "overrides": [ 
    {
      "files":["*.component.html"],
      "options": {
        "printWidth": 80,
        "parser": "angular"
      }
    },
    {
      "files":["*.html"],
      "options": {
        "parser": "html"
      }
    }
  ]
  }