<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script>
      Babel.registerPreset('env-plus', {
        presets: [[Babel.availablePresets['typescript']], [Babel.availablePresets['react']]],
        plugins: [Babel.availablePlugins['transform-modules-umd']],
      });
    </script>
    <title>Document</title>
  </head>

  <body class="">
    <div id="app"></div>
  </body>
  <script type="text/babel" data-type="module" data-presets="env-plus">
    const CheckboxContainer = (props) => (<div className=""></div>);
    // const CheckboxInput = (props) => <input type="checkbox" props={...props}></input>;
    const container = document.getElementById('app');
    const root = ReactDOM.createRoot(container);
    root.render(<div style={{ display: 'flex', gap: '16px', flexDirection: 'row' }}>asd</div>);
  </script>
</html>
